## 1. Mendapatkan hasil nilai dari inputan menggunakan for.

In [5]:
i = 0
b = 0
for i in range(3):
    a = int(input("nilai " + str(i) + " = "))
    b += a
print("Hasil penjumlahan = ", b)
    
nilai = 0

for i in range(3):
    nilaiX = int(input("Masukan nilai "))
    nilaiX += nilai
    nilai = nilaiX
print("Jumlah nilai yang dimasukan adalah ", nilai)

nilai 0 = 10
nilai 1 = 101
nilai 2 = 10
Hasil penjumlahan =  121
Masukan nilai 10
Masukan nilai 10
Masukan nilai 10
Jumlah nilai yang dimasukan adalah  30

## 2. Konversi nilai mata uang rupiah ke dollar dan sebaliknya, menggunakan tipe data float dan inputan data.

In [11]:
print("Rupiah ke dollar")
rupiah = int(input("Masukan uang (Rp) = ")) #Integer bisa diganti dengan float
dolar = rupiah / 14500
print("$", dolar)

rupiah = float(input("Masukan rupiah = "))
dolar2 = float(rupiah / 14500)
print("Harga Dollar   = $", dolar2)

print()

print("Dollar ke rupiah")
dollar = int(input("Masukan uang ($) = ")) 
rupiahh = dollar * 14500
print("Rp", rupiahh)

dollar = float(input("Masukan dollar = "))
rupiahh2 = float(dollar * 14500)
print("Harga Rupiah  = Rp", rupiahh2)

Masukan uang (Rp) = 90000
$ 6.206896551724138
Masukan rupiah = 90000
Harga Dollar   = $ 6.206896551724138

Masukan uang ($) = 6
Rp 87000
Masukan dollar = 6.20
Harga Rupiah  = Rp 89900.0

# # 3. Menghitung BMI ideal

In [18]:
berat = float(input("Masukan berat badan (kg)    = "))
tinggi = float(input("Masukan tinggi badan (m)    = "))

bmi = berat / (tinggi ** 2)
if bmi > 22.9:
    print("Overweight, karena bmi anda = ", bmi)
elif bmi > 18.5:
    print("Ideal, karena bmi anda = ", bmi)
else:
    print("Underweight, karena bmi anda = ", bmi)

Masukan berat badan (kg)    = 51
Masukan tinggi badan (m)    = 1.65
Ideal, karena bmi anda =  18.73278236914601

# # 4. Konversi mata uang menggunakan pilihan

In [24]:
pilihan = int(input("Pilih : 1. RP ke US | 2. US ke RP"))

if pilihan == 1:
    rp = float(input("Masukan nominal (Rp) : "))
    us = rp / 14500
    print("Hasil Dollar         :", us)
elif pilihan == 2:
    us = float(input("Masukan nominal ($)  : "))
    rp = us * 14500
    print("Hasil Rupiah         :", rp)
else:
    print("Pilihan tidak tersedia")

Pilih : 1. RP ke US | 2. US ke RP1
Masukan nominal (Rp) : 1500000
Hasil Dollar         : 103.44827586206897

# # 5. Menggunakan jenis letter (Huruf kapital dan kecil)

In [28]:
nama = input("Input Nama : ")
def hapusVokal(nama):
    for letter in nama:
        if letter.upper() in [' ', 'A', 'I', 'U', 'E', 'O']:
            continue
        print(letter.upper(), end = " ")
hapusVokal(nama)

Input Nama : ramdhani
R M D H N

# # 6. Menghitung keliling lingkaran menggunakan import math

In [30]:
import math as m

r = float(input("Masukan panjang jari-jari lingkaran : "))
L = m.pi*r*r
K = 2*m.pi*r
print("Luas lingkaran adalah : ", round(L,2))

Masukan panjang jari-jari lingkaran : 4
Luas lingkaran adalah :  50.27

# # 7. Menghitung luas dan volume permukaan balok

In [33]:
a = int(input("Input angka panjang : "))
b = int(input("Input angka lebar   : "))
c = int(input("Input angka tinggi  : "))

v = (a * b * c)
r = 2 * (a * b + a * c + b * c)

print("Volume         :", round(v, 2))
print("Luas Permukaan :", round(r, 2))

Input angka panjang : 10
Input angka lebar   : 7
Input angka tinggi  : 4
Volume         : 280
Luas Permukaan : 276

# # 8. Menghitung pajak dari penghasilan

In [38]:
income = float(input("Enter the annual income : "))

if income < 85528:
    tax = income * 18/100 - 552.2
else:
    tax = (income - 86628) * 32 / 100 + 14839.2
if tax < 0:
    tax = 0
    
tax = round(tax, 0)
print("The tax is :", tax, "thalers")

Enter the annual income : 100000
The tax is : 19118.0 thalers

# # 9. Konversi angka ke bulan

In [40]:
print("Konversi Angka ke Bulan oleh @mrmdhani")
print("*"*40)

bulan_angka = int(input("Masukan Angka : "))

if bulan_angka == 1:
    print(bulan_angka, "Konversi Bulan", "Januari")
elif bulan_angka == 2:
    print(bulan_angka, "Konversi Bulan", "Februari")
elif bulan_angka == 3:
    print(bulan_angka, "Konversi Bulan", "Maret")
elif bulan_angka == 4:
    print(bulan_angka, "Konversi Bulan", "April")
elif bulan_angka == 5:
    print(bulan_angka, "Konversi Bulan", "Mei")
elif bulan_angka == 6:
    print(bulan_angka, "Konversi Bulan", "Juni")
elif bulan_angka == 7:
    print(bulan_angka, "Konversi Bulan", "Juli")
elif bulan_angka == 8:
    print(bulan_angka, "Konversi Bulan", "Agustus")
elif bulan_angka == 9:
    print(bulan_angka, "Konversi Bulan", "September")
elif bulan_angka == 10:
    print(bulan_angka, "Konversi Bulan", "Oktober")
elif bulan_angka == 11:
    print(bulan_angka, "Konversi Bulan", "November")
elif bulan_angka == 12:
    print(bulan_angka, "Konversi Bulan", "Desember")
else:
    print("Error, Hayang masukkan rentang angka 1 - 12 !")

Konversi Angka ke Bulan oleh @mrmdhani
****************************************
Masukan Angka : 10
10 Konversi Bulan Oktober

# # 10. Menghitung biaya parkir dengan pilihan motor atau mobil menghitung biaya perjam

In [3]:
print("Program Parkir oleh @mrmdhani")
print(40* "*")

pilihan = float(input("Pilih : 1. Mobil | 2. Motor"))

if pilihan == 1:
    mobil = int(input("Lama Parkir : "))
    if mobil <= 2:
        bayar = 1 * 3000
    elif mobil > 2 and mobil < 24:
        bayar = ((mobil - 2) * 4000) + 3000
    else:
        bayar = ((mobil - 2) * 4000) + 3000 + 100000
    print("Jenis: Mobil\nJumlah Bayar :", mobil, "Jam adalah", bayar)
elif pilihan == 2:
    motor = int(input("Lama Parkir : "))
    if motor <= 2:
        bayar = 1 * 3000
    elif motor > 2 and motor < 24:
        bayar = ((motor - 2) * 2000) + 3000
    else:
        bayar = ((motor - 2) * 2000) + 3000 + 100000
    print("Jenis: Motor\nJumlah Bayar :", motor, "Jam adalah", bayar)
else:
    print("Pilihan hanya 1 dan 2")
    
print(40* "*")

Program Parkir oleh @mrmdhani
****************************************
Pilih : 1. Mobil | 2. Motor2
Lama Parkir : 5
Jenis: Motor
Jumlah Bayar : 5 Jam adalah 9000
****************************************

# # 11. Menghitung pengeluaran gaji

In [9]:
# print("Menghitung Penghasilan Budi oleh @mrmdhani")
print(40* "*")

gaji_per_jam = float(input("Gaji/jam yang diinginkan    : "))
jumlah_jam = float(input("jumlah jam kerja selama seminggu : "))

gaji_bersih = gaji_per_jam * jumlah_jam
pajak = gaji_bersih - (gaji_bersih*0.14)
baju_aksesoris = (gaji_bersih - (gaji_bersih*0.14) - (pajak*10/100))
alat_tulis = (baju_aksesoris - (baju_aksesoris * 0.1))
sedekah = (alat_tulis - (alat_tulis * 0.25))
yatim = (sedekah * 0.30)
dhuafa = (sedekah * 0.70)

print(20 * "-")
print("# Gaji yang diterima                   :", gaji_bersih)
print(20 * "-")
print("# Gaji setelah bayar pajak             :", pajak)
print(20 * "-")
print("# Gaji setelah beli baju dan aksesoris :", baju_aksesoris)
print(20 * "-")
print("# Gaji setelah beli ATK                :", alat_tulis)
print(20 * "-")
print("# Gaji setelah sedekah                 :", sedekah)
print(20 * "-")
print("# Gaji setelah sedekah ke yatim        :", yatim)
print(20 * "-")
print("# Gaji setelah sedekah ke dhuafa       :", dhuafa)

print(40* "*")

****************************************
Gaji/jam yang diinginkan    : 500000
jumlah jam kerja selama seminggu : 60
--------------------
# Gaji yang diterima                   : 30000000.0
--------------------
# Gaji setelah bayar pajak             : 25800000.0
--------------------
# Gaji setelah beli baju dan aksesoris : 23220000.0
--------------------
# Gaji setelah beli ATK                : 20898000.0
--------------------
# Gaji setelah sedekah                 : 15673500.0
--------------------
# Gaji setelah sedekah ke yatim        : 4702050.0
--------------------
# Gaji setelah sedekah ke dhuafa       : 10971450.0
****************************************

# # 12. Membuat biodata menggunakan inputan

In [8]:
print("Biodata Guru oleh @mrmdhani")
print(40* "*")

data_diri = []
nama = input("Nama        : ")
tempat_lahir = input("Tempat Lahir : ")
tahun_lahir = int(input("Tahun Lahir : "))
kota_asal = input("Kota Asal : ")
sekolah_ngajar = input("Sekolah Tempat Mengajar : ")
jumlah_siswa = int(input("Jumlah Siswa : "))

print(40* "*")

data_diri.extend([nama, tempat_lahir, tahun_lahir, kota_asal, sekolah_ngajar, jumlah_siswa])
print("List Awal    :", data_diri)

umur = 2019 - tahun_lahir
umur_thn_depan = umur + 1
siswa_thn_depan = jumlah_siswa + 2

print(40*"*")

print("Nama saya", nama, ". Saya Lahir di", tempat_lahir, ". Saya tinggal di", kota_asal, ". dan mengajar di", sekolah_ngajar, ". Tahun depan saya akan berusia", umur_thn_depan, " tahun. dan akan memiliki siswa sebanyak", siswa_thn_depan, " orang")

print(40* "*")

Biodata Guru oleh @mrmdhani
****************************************
Nama        : Muhammad Ramdhani
Tempat Lahir : Bogor
Tahun Lahir : 2003
Kota Asal : Bogor
Sekolah Tempat Mengajar : SMK Wikrama Bogor
Jumlah Siswa : 1630
****************************************
List Awal    : ['Muhammad Ramdhani', 'Bogor', 2003, 'Bogor', 'SMK Wikrama Bogor', 1630]
****************************************
Nama saya Muhammad Ramdhani . Saya Lahir di Bogor . Saya tinggal di Bogor . dan mengajar di SMK Wikrama Bogor . Tahun depan saya akan berusia 17  tahun. dan akan memiliki siswa sebanyak 1632  orang
****************************************

# Operator Relasional

In [1]:
a = int(input("masukkan a = "))
b = int(input("masukkan b = "))
c = int(input("masukkan c = "))
d = int(input("masukkan d = "))

print("a==b",a==b)
print("a==c",a==c)
print("a!=b",a!=b)

print("a>d",a>d)
print("b<d",b<d)
print("b<=d",b<=d)

masukkan a = 1
masukkan b = 2
masukkan c = 3
masukkan d = 4
a==b False
a==c False
a!=b True
a>d False
b<d True
b<=d True